@view-transition {
  navigation: auto;
}

/* ---- BUTTON AND BUTTON GROUP --- */

.cta-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 12px;
}

.cta-button {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.cta-button a {
    transition-duration: 0.2s;
    border: 2px solid #008CBA;
    border-radius: 4px;
    box-shadow: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    vertical-align: middle;
}

.cta-button a:hover {
    background-color: #008CBA;
    color: white;
}

.cta-button svg {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 5px;
    height: 21px;
    width: 22px;
}

/* ---- IMAGE GROUP --- */

.image-group-container {
    display: flex;
    background-color: white;
    align-items: flex-end;
    margin-bottom: 15px;
}

.image-group-item {
    padding: 15px;
}

@media screen and (max-width: 500px) {
    .image-group-item {
        width: 100%;
    }
}

.image-group-item img {
    width: 100%;
}

.image-group-item figcaption {
    color: var(--body-background) !important;
}

/* ---- MAILCHIMP SIGNUP FORM --- */

.signup-headline {
    color: var(--body-text-color);
    margin-top: 0;
}

.signup-form {
    position: relative;
    --button-size: 80px;

    &.widget {
        --button-size: 60px;

        label {
            font-size: 1.3rem;
            top: 10px;
        }

        input {
            font-size: 1.5rem;
            padding: 30px 20px 15px 20px;
        }
    }

    .signup-field {
        position: relative;
        margin: 0;

        label {
            position: absolute;
            inset-inline-start: 20px;
            font-size: 1.4rem;
            color: var(--card-text-color-tertiary);
        }
    
        input[type=email] {
            padding: 20px 20px 20px;
            border-radius: var(--card-border-radius);
            background-color: var(--card-background);
            box-shadow: var(--shadow-l1);
            color: var(--card-text-color-main);
            width: 100%;
            border: 0;
            -webkit-appearance: none;
    
            transition: box-shadow 0.3s ease;
    
            font-size: 1.8rem;
    
            &:focus {
                outline: 0;
                box-shadow: var(--shadow-l2);
            }
        }
    
        button[type=submit] {
            position: absolute;
            inset-inline-end: 0;
            top: 0;
            height: 100%;
            width: var(--button-size);
            cursor: pointer;
            background-color: transparent;
            border: 0;
    
            padding: 0 10px;
    
            &:focus {
                outline: 0;
    
                svg {
                    stroke-width: 2;
                    color: var(--accent-color);
                }
            }
    
            svg {
                color: var(--card-text-color-secondary);
                stroke-width: 1.33;
                transition: all 0.3s ease;
                width: 20px;
                height: 20px;
            }
        }
    }
}