.icon-scroll-top {
  display: inline-block;
}

.icon-scroll-top svg {
  width: 20px; 
  height: 20px;
}

.icon-24 {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.icon-24 svg {
  width: 24px;
  height: 24px;
}