{{- define "main" }}

<header class="page-header">
    <h1>Tentang Kodesiana</h1>
</header>

<div class="about-container">
  <div class="about-col">
    <img src="/img/me.jpg" alt="Fahmi Noor Fiqri" class="about-img" />
  </div>
  <div class="about-col">
    <p>
      Kodesiana.com dirintis pada tanggal 10 April 2018 oleh seorang penulis yaitu Fahmi Noor Fiqri yang
      merupakan
      <i>software engineer</i> dan juga penggiat <i>data science</i> dengan pengalaman sebagai <i>developer</i>
      hingga lebih dari 7 tahun.
    </p>
    <p>
      Business inquiry: fahmi@kodesiana.com.
    </p>
    <p>Salam kenal semuanya!</p>
  </div>
</div>

{{- end }}{{/* end main */}}
