{{- define "main" }}

<header class="page-header">
    <h1>Tentang Kodesiana</h1>
</header>

<div class="about-container">
  <div class="about-col">
    <img src="/img/me.jpg" alt="Fahmi Noor Fiqri" class="about-img" />
  </div>
  <div class="about-col">
    <p>
      Kodesiana.com dirintis pada tanggal 10 April 2018 oleh seorang penulis yaitu Fahmi Noor Fiqri yang
      merupakan
      <i>software engineer</i> dan juga penggiat <i>data science</i> dengan pengalaman sebagai <i>developer</i>
      hingga lebih dari 7 tahun.
    </p>
    <p>
      Penulis saat ini bekerja sebagai <b>backend developer NodeJS/Golang</b> di
      <a href="https://logee.id/">Logee by Telkom Indonesia</a> sejak Oktober 2019 dan diberi kepercayaan
      sebagai salah satu <i>maintainer</i> di ekosistem Logee. Selain itu, penulis juga suka menulis umumnya di
      blog ini maupun dalam bentuk buku dan penelitian/riset ilmiah. Penulis juga sering berkontribusi pada
      <i>open source</i> melalui akun GitHub penulis.
    </p>
    <p>
      Kamu bisa menghubungi penulis melalui media sosial yang terdapat di bagian bawah blog ini atau melalui
      email ke fahmi@kodesiana.com.
    </p>
    <p>Salam kenal semuanya!</p>
  </div>
</div>

{{- end }}{{/* end main */}}
