{{ define "main" }}

{{ partial "widgets/header.html" . }}

{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}

<section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
  {{ partial "blog/headline.html" (dict "title" "Blog") }}

  <!-- Post List -->
  <ul>
    {{ range $paginator.Pages }}
    <li class="mb-12 md:mb-12">
      {{ partial "blog/list-item.html" . }}
    </li>
    {{ end }}
  </ul>

  <!-- Pagination -->
  {{ if gt $paginator.TotalPages 1 }}
  <div class="container flex">
    <div class="flex flex-row mx-auto container justify-between">
      <a href="{{ if $paginator.HasPrev }}{{ $paginator.Prev.URL }}{{ end }}" class="btn btn-ghost md:px-3 px-3 mr-2 {{ if $paginator.HasPrev }}{{ else }}invisible{{ end }}">
        <div class="flex flex-row align-middle">
          {{ partial "integration/icon.html" (dict "name" "tabler:chevron-left" "class" "w-6 h-6") }}
          <p class="ml-2">Artikel Sebelumnya</p>
        </div>
      </a>
      {{ if $paginator.HasNext }}
      <a href="{{ if $paginator.HasNext }}{{ $paginator.Last.URL }}{{ end }}" class="btn btn-ghost md:px-3 px-3 {{ if $paginator.HasNext }}{{ else }}invisible{{ end }}">
        <div class="flex flex-row align-middle">
          <span class="mr-2">Artikel Selanjutnya</span>
          {{ partial "integration/icon.html" (dict "name" "tabler:chevron-right" "class" "w-6 h-6") }}
        </div>
      </a>
      {{ end }}
    </div>
  </div>
  {{ end }}
</section>

{{ partial "widgets/footer.html" . }}

{{ end }}
