{{ define "main" }}
  {{ partial "widgets/header.html" . }}


  <section class="mx-auto max-w-4xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
    {{ partial "blog/headline.html" (dict "title" "Open Source" "subtitle" "Koleksi proyek open source penulis.") }}


    <!-- Repo List -->
    <div class="scrollbar flow-root h-96 overflow-auto sm:mt-2">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        {{ range $.Site.Data.github_repos.data }}
          <li class="mr-4 py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="min-w-0 flex-1">
                <a class="truncate text-sm font-medium text-gray-900 dark:text-white" href="{{ .url }}" target="_blank">
                  {{ .name }}
                </a>
                <p class="truncate text-sm text-gray-500 dark:text-gray-400">{{ .description }}</p>
                <div class="mt-1 flex flex-wrap justify-start">
                  <div class="mr-2 inline-flex items-center text-sm text-gray-500 dark:text-gray-400">
                    {{ partial "integration/icon.html" (dict "name" "tabler:git-fork" "class" "w-3.5 h-3.5 mr-1 inline-block dark:text-gray-400") }}
                    {{ .forkCount }}
                  </div>
                  <div class="mr-2 inline-flex items-center text-sm text-gray-500 dark:text-gray-400">
                    {{ partial "integration/icon.html" (dict "name" "tabler:star" "class" "w-3.5 h-3.5 mr-1 inline-block dark:text-gray-400") }}
                    {{ .stargazerCount }}
                  </div>
                  <div class="mr-2 inline-flex items-center text-sm text-gray-500 dark:text-gray-400">
                    {{ partial "integration/icon.html" (dict "name" "tabler:message-circle-exclamation" "class" "w-3.5 h-3.5 mr-1 inline-block dark:text-gray-400") }}
                    {{ .issuesCount }}
                  </div>
                  <div class="mr-2 inline-flex items-center text-sm text-gray-500 dark:text-gray-400">
                    {{ partial "integration/icon.html" (dict "name" "tabler:clock" "class" "w-3.5 h-3.5 mr-1 inline-block dark:text-gray-400") }}
                    {{ time.Format "02 January 2006" (time .pushedAt) }}
                  </div>
                  {{ if .isArchived }}
                    <div class="mr-2 inline-flex items-center text-sm text-gray-500 dark:text-gray-400">
                      {{ partial "integration/icon.html" (dict "name" "tabler:archive" "class" "w-3.5 h-3.5 mr-1 inline-block dark:text-gray-400") }}
                      Arsip
                    </div>
                  {{ end }}
                </div>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                <a
                  class="mr-3 font-medium text-blue-600 hover:underline dark:text-blue-500 md:mr-5"
                  href="{{ .url }}"
                  target="_blank">
                  Lihat
                </a>
              </div>
            </div>
          </li>
        {{ end }}
      </ul>
    </div>
  </section>

  {{ partial "widgets/footer.html" . }}

{{ end }}
