{{ define "main" }}
  {{ partial "widgets/header.html" . }}

  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") 50 }}


  <section class="mx-auto max-w-4xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
    {{ partial "blog/headline.html" (dict "title" "Pencarian") }}


    <label for="default-search" class="sr-only mb-2 text-sm font-medium text-gray-900 dark:text-white">Cari</label>
    <div class="relative">
      <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
        {{ partial "integration/icon.html" (dict "name" "tabler:search" "class" "w-5 h-5 text-gray-500 dark:text-gray-400") }}
      </div>
      <input
        type="search"
        id="textSearch"
        placeholder="Memuat data, harap tunggu..."
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-4 pl-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
        required
        disabled />
      <button
        type="submit"
        id="searchButton"
        class="absolute bottom-2.5 right-2.5 rounded-lg bg-blue-700 px-4 py-2 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        disabled>
        Cari
      </button>
    </div>

    <div id="results" class="mt-4"></div>
  </section>

  {{ partial "widgets/footer.html" . }}
  {{ with resources.Get "scripts/search.js" | js.Build "scripts/search.min.js" }}
    <script type="text/partytown" src="{{ .RelPermalink }}"></script>
  {{ end }}

{{ end }}
