{{ define "main" }}

{{ partial "widgets/header.html" . }}

<main>
  <section class="py-8 sm:py-16 lg:py-20 mx-auto">
    <article>
      <header>
        <!-- Post/Page Meta -->
        {{ if (not .Params.hideMeta) }}
        <div class="flex justify-between flex-col sm:flex-row max-w-3xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center">
          <p>
            {{ partial "integration/icon.html" (dict "name" "tabler:clock" "class" "w-4 h-4 inline-block -mt-0.5 dark:text-gray-400") }}
            <time datetime="{{ .Date.Format " 2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time> ·
            <a class="capitalize hover:underline" href="{{ " /categories/" | relURL }}{{ . | urlize }}">{{ .Params.category }}</a> ·
            {{ .ReadingTime }} menit
          </p>
        </div>
        {{ end }}

        <!-- Post/Page Title -->
        <h1 class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading">
          {{ .Title }}
        </h1>

        <!-- Post/Page Subtitle -->
        {{ if .Params.subtitle }}
        <p class="max-w-3xl mx-auto mt-4 mb-8 px-4 sm:px-6 text-xl md:text-2xl text-muted dark:text-slate-400 text-justify">
          {{ .Params.subtitle }}
        </p>
        {{ end }}
      </header>

      <!-- Post/Page Content -->
      <div class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8">
        {{ .Content }}
      </div>

      <!-- Post/Page Tags and Share -->
      <div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex justify-between flex-col sm:flex-row">
        {{ partial "blog/tags.html" . }}
        {{ partial "common/social-share.html" . }}
      </div>
    </article>
  </section>

  {{ partial "blog/to-blog-link.html" . }}
</main>

{{ partial "widgets/footer.html" . }}

{{ end }}
