#TableOfContents {
  @apply no-underline;
}

#TableOfContents ol {
  @apply m-0 lg:mt-0 !important;
  counter-reset: section;
}

#TableOfContents ol > li {
  @apply m-0 lg:m-0 !important;
  counter-increment: section;
}

#TableOfContents ol > li::marker {
  content: counters(section, '.') '. ';
}

#TableOfContents ol > li > a {
  @apply no-underline;
}
