<!-- Global Script -->
{{ with resources.Get "scripts/global.ts" | js.Build "scripts/global.min.js" }}
  <script async src="{{ .RelPermalink }}"></script>
{{ end }}


<!-- Google Analytics -->
{{ partial "integration/google-analytics.html" . }}


<!-- Prism -->
{{ partial "integration/prism.html" (dict "emit" "scripts") }}


<!-- KaTeX -->
{{ if or .Params.math .Site.Params.math }}
  {{ partial "integration/katex.html" (dict "emit" "scripts") }}
{{ end }}


<!-- Mermaid -->
{{ if or .Params.mermaid .Site.Params.mermaid }}
  {{ partial "integration/mermaid.html" . }}
{{ end }}


<!-- Google AdSense -->
{{ partial "integration/google-adsense.html" . }}


<!-- Microsoft Clarity -->
{{ partial "integration/microsoft-clarity.html" . }}

