<meta name="twitter:title" content="{{ .Title }}" />

{{ if .Description }}
  <meta property="twitter:description" content="{{ .Description }}" />
{{ else if .Params.description }}
  <meta property="twitter:description" content="{{ .Params.description }}" />
{{ else if .IsPage }}
  <meta property="twitter:description" content="{{ .Summary }}" />
{{ end }}

{{ if or (.Params.image) (.Site.Params.og) }}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{ .Params.image | absURL }}" />
{{ else }}
  <meta name="twitter:card" content="summary" />
{{ end }}
