<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">

<!-- Title -->
<title>{{ if .IsHome }}{{ else }}{{ if .Title }}{{ .Title }} | {{ end }}{{ end }}{{ site.Title }}</title>

<!-- Meta -->
{{- if .IsHome }}
{{ with site.Params.keywords -}}<meta name="keywords" content="{{- range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">{{ end }}
{{- else }}
<meta name="keywords" content="{{ if .Params.keywords -}}
    {{- range $i, $e := .Params.keywords }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} {{- else }}
    {{- range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} {{- end -}}">
{{- end }}
<meta name="description" content="{{- with .Description }}{{ . }}{{- else }}{{- if or .IsPage .IsSection}}
    {{- .Summary | default (printf "%s - %s" .Title  site.Title) }}{{- else }}
    {{- with site.Params.description }}{{ . }}{{- end }}{{- end }}{{- end -}}">
<meta name="author" content="{{ (partial "author.html" . ) }}">
<link rel="canonical" href="{{ if .Params.canonicalURL -}} {{ trim .Params.canonicalURL " " }} {{- else -}} {{ .Permalink }} {{- end }}">

<!-- SEO -->
{{- template "partials/seo/opengraph.html" . }}
{{- template "partials/seo/twitter_cards.html" . }}
{{- template "partials/seo/schema_json.html" . }}

<!-- Site Verification -->
{{ partial "integration/microsoft_bing.html" . }}
{{ partial "integration/google_webmaster.html" . }}

<!-- Styles -->
{{- with resources.Get "scss/style.scss" | toCSS | minify | fingerprint }}
<link crossorigin="anonymous" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" rel="preload stylesheet" as="style">
{{- end }}

<!-- Search -->
{{- if (eq .Layout "search") -}}
<link crossorigin="anonymous" rel="preload" as="fetch" href="/index.json">
{{- with resources.Get "js/search.js" | js.Build | minify | fingerprint }}
<script defer crossorigin="anonymous" src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
{{- end }}
{{- end -}}

<!-- Favicon -->
{{ partial "favicon.html" . }}

<!-- RSS -->
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type | html }}" href="{{ .Permalink | safeURL }}">
{{ end -}}

<!-- Styling when script disabled -->
<noscript>
    <style>
        #theme-toggle,
        .top-link {
            display: none;
        }
    </style>
    <style>
        @media (prefers-color-scheme: dark) {
            :root {
                --theme: rgb(29, 30, 32);
                --entry: rgb(46, 46, 51);
                --primary: rgb(218, 218, 219);
                --secondary: rgb(155, 156, 157);
                --tertiary: rgb(65, 66, 68);
                --content: rgb(196, 196, 197);
                --hljs-bg: rgb(46, 46, 51);
                --code-bg: rgb(55, 56, 62);
                --border: rgb(51, 51, 51);
            }

            .list {
                background: var(--theme);
            }

            .list:not(.dark)::-webkit-scrollbar-track {
                background: 0 0;
            }

            .list:not(.dark)::-webkit-scrollbar-thumb {
                border-color: var(--theme);
            }
        }
    </style>
</noscript>

<!-- Integrations -->
{{ partial "integration/highlight.html" . }}
{{ partial "integration/katex.html" . }}
{{ partial "integration/mermaid.html" . }}
{{ partial "integration/google_adsense.html" . }}
{{ partial "integration/google_analytics.html" . }}
{{ partial "integration/microsoft_clarity.html" . }}
