{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{ $date := .Date | time.Format (default "2 January 2006" site.Params.dateFormat) }}
{{ $lastmod := .Lastmod | time.Format (default "2 January 2006" site.Params.dateFormat) }}

{{- if ne $lastmod $date }}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s (diperbarui %s)</span>" (.Date) ($date) ($lastmod) )) }}
{{- else }}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Lastmod) ($lastmod) )) }}
{{- end }}
{{- end }}

{{ range (.GetTerms "categories") }}
{{- $scratch.Add "meta" (slice (printf "<a href='%[1]s' data-track-type='categories' data-track-value='%[2]s'>%[2]s</a>" (.Permalink) (.LinkTitle) )) }}
{{ end }}

{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d menit" .ReadingTime))) }}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d kata" .WordCount))) }}

{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
