{{ if .Params.series }}
{{- range $name := .Params.series }}
<span data-track-type="series" data-track-value="{{ $name }}"></span>
{{end}}

<div class="toc">
  <details open>
      <summary>
          <span class="details">Series: {{ index (.Params.series) 0 }}</span>
      </summary>

      <div class="inner">
        <ol class="list-group">
          {{ range $num, $post := (index .Site.Taxonomies.series (index .Params.series 0 | urlize)).Pages.ByDate }}
            {{ if eq $post.Permalink $.Page.Permalink }}
            <li>
                <b>{{ $post.Params.title }}</b>
            </li>
            {{ else }}
            <li>
                <a href="{{ $post.Permalink }}">
                {{ $post.Params.title }}
                </a>
            </li>
            {{end}}
          {{end}}
        </ol>
      </div>
  </details>
</div>
{{end}}
