{{ define "main" }}
  {{ partial "widgets/header.html" . }}


  <main>
    <section class="mx-auto max-w-4xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
      <!-- Headline -->
      {{ partial "blog/headline.html" (dict "title" "Halo, aku Fahmi." "subtitle" "Selamat datang di Kodesiana.com") }}


      <!-- Latest Video -->
      {{ with $.Site.Data.latest_video }}
        <div class="mt-1">
          <h2 class="mb-4 text-3xl font-extrabold">
            Video terbaru
            <a href="https://www.youtube.com/channel/{{ $.Site.Params.youtubeChannelId }}" target="_blank"
              ><span class="ml-2 block text-xl font-semibold text-gray-500 dark:text-gray-400">Lihat semua</span></a
            >
          </h2>

          <a
            href="{{ .data.url }}"
            target="_blank"
            class="flex flex-col items-center rounded-lg border border-gray-200 bg-white shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 md:flex-row">
            <img class="hidden h-48 w-48 rounded-t-lg object-cover md:block" src="{{ .data.thumbnail }}" alt="" />
            <div class="flex w-full flex-col justify-between p-2 pl-4 leading-normal">
              <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white lg:text-2xl">
                {{ .data.title }}
              </h5>
              <p class="mb-3 break-words font-normal text-gray-700 dark:text-gray-400">{{ .data.description }}</p>
              <p>Tanggal Rilis: {{ time.Format "02 January 2006" (time .data.publishedAt) }}</p>
            </div>
          </a>
        </div>
      {{ end }}


      <!-- Latest Post -->
      <div class="mt-20">
        <h2 class="mb-4 text-3xl font-extrabold">
          Artikel terbaru
          <a href="/post"
            ><span class="ml-2 block text-xl font-semibold text-gray-500 dark:text-gray-400">Lihat semua</span></a
          >
        </h2>
        <ul>
          {{ range first 5 (where .Site.RegularPages "Type" "post") }}
            <li class="mb-12 md:mb-12">
              {{ partial "blog/list-item.html" . }}
            </li>
          {{ end }}
        </ul>
      </div>

      <div class="flex-start flex">
        <div class="mx-auto max-w-3xl px-6 pb-12 pt-8 sm:px-6 md:pb-20 md:pt-4">
          <a class="btn px-3 md:px-3" href="/post">
            Lihat Artikel Lain
            {{ partial "integration/icon.html" (dict "name" "tabler:chevron-right" "class" "w-5 h-5 ml-1") }}
          </a>
        </div>
      </div>
    </section>
  </main>

  {{ partial "widgets/footer.html" . }}

{{ end }}
