<article class="mx-auto grid max-w-md gap-6 md:max-w-none md:gap-8">
  <div class="mt-2">
    <header>
      <div class="mb-1">
        <span class="text-sm">
          {{ partial "integration/icon.html" (dict "name" "tabler:clock" "class" "w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400") }}
          <time datetime="{{ .Date.Format " 2006-01-02" }}">{{ time.Format "02 January 2006" .Date }}</time> ·
          <a class="capitalize hover:underline" href="{{ "/category/" | relURL }}{{ urlize .Params.category }}">
            {{ .Params.category }}
          </a>
        </span>
      </div>
      <h2 class="mb-2 font-heading text-xl font-bold leading-tight dark:text-slate-300 sm:text-2xl">
        <a class="transition duration-200 ease-in hover:text-primary dark:hover:text-blue-700" href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h2>
    </header>

    {{ if .Params.excerpt }}
      <p class="text-muted flex-grow text-lg dark:text-slate-400">{{ .Params.excerpt }}</p>
    {{ else }}
      <p class="text-muted flex-grow text-lg dark:text-slate-400">{{ .Summary }}</p>
    {{ end }}


    <footer class="mt-5">
      {{ partial "blog/tags.html" . }}
    </footer>
  </div>
</article>
