<!-- prettier-ignore -->
{{ with .Site.Params.integrations.googleAnalytics }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    window.dataLayer.push(arguments);
  }

  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
<script defer>
  for (const taxonomy of ["tags", "series", "categories"]) {
    const items = Array.from(document.querySelectorAll(`[data-track-type="${taxonomy}"]`)).map((el) => el.getAttribute('data-track-value'));
    if (items.length === 0) continue;

    for (const item of items) {
      gtag('event', `page_taxonomy`, {
        taxonomy_type: taxonomy,
        taxonomy_content: item,
      });
    }
  }
</script>
{{ end }}
